*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
  background:repeating-linear-gradient(to right,rgb(203, 76, 205), rgb(140, 140, 59));
}

.title{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.counter-container{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-increment{
  padding: 10px;
  background-color: rgb(41, 206, 112);
  cursor:pointer;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.btn-decrement{
  padding: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: rgb(187, 64, 64);
  border-radius: 50%;
}
.value{
  padding: 10px;
}